* text=auto !eol
bin/guiderToDs9 -text
etc/guider.cfg -text
include/ipGguide.h -text
include/shLegacy.h -text
python/gcamera/__init__.py -text
python/gcamera/procimg.py -text
python/gcamera/protoGcamFITS.py -text
python/gcamera/pyGuide_test.py -text
python/guiderActor/Commands/GuiderCmd.py -text
python/guiderActor/Commands/__init__.py -text
python/guiderActor/PID.py -text
python/guiderActor/__init__.py -text
python/guiderActor/gcameraThread.py -text
python/guiderActor/guiderActor_main.py -text
python/guiderActor/masterThread.py -text
python/guiderActor/myGlobals.py -text
/setup.py -text
src/Makefile -text
src/gimg/Makefile -text
src/gimg/gutils.c -text
src/gimg/ipGguide.c -text
src/gimg/shUtils.c -text
ups/guiderActor.table -text
