* text=auto !eol
bin/guiderToDs9 -text
etc/guider.cfg -text
python/guiderActor/Commands/GuiderCmd.py -text
python/guiderActor/Commands/__init__.py -text
python/guiderActor/PID.py -text
python/guiderActor/__init__.py -text
python/guiderActor/gcameraThread.py -text
python/guiderActor/guiderActor_main.py -text
python/guiderActor/masterThread.py -text
python/guiderActor/myGlobals.py -text
/setup.py -text
ups/guiderActor.table -text
