[tron]
tronHost = sdss-hub
tronCmdrPort = 6093
interface =
port = 9994

[gprobes]
bigFiberRadius = 12

[gcamera]
exposureTime = 5
# magnification of guide camera images (i.e. relative to images formed on the plug plate)
# This number should be identically 1, but if the transfer optics are not aligned
# it will be slightly different from 1. Mostly important for MaNGA.
magnification = 1.0

# Additional rotation for the gprobes due to rotation of the CCD chip
# with respect to the guider fibre plane.
ccdRotation = 0.0

[telescope]
# These are +/-1 factors that define the direction of the changes in focus,
# axes, etc to match whatever convention the TCC expects. For APO they are all 1.
focusDirection = 1
axisDirection = 1
rotDirection = 1

# The photometric zero-point for (g + r)/2 band was 25.34
# This was calibrated vs MJD 55246, with AZ~=73 deg, airmass~=1.046
# Masayuki zero average point 25.70 for use for his color transform
zeroPoint = 25.70

[logging]
logdir = /data/logs/actors/guider
baseLevel = 20
cmdLevel = 30
consoleLevel = 30

[enable]
# Enable guiding on this axis by default?
axes = False
scale = False
focus = False

[PID]
#
# PID coefficients
# _min and _max refer to the min/max altitude values in PID_scale.
# ncorr is after how many iterations a correction is applied
#         Kp   Ti_min Ti_max    Td   Imax   nfilt     ncorr
raDec  = 0.6    250.0  100.0   0.0     -1       1         1
rot    = 0.5    250.0  100.0   0.0     -1       1         1
focus  = 0.1      0.0    0.0   0.0     -1       1         1
scale  = 0.2      0.0    0.0   0.0     -1       7         1

[PID_altitude_scale]
min = 0
max = 0
# list of axes to scale the PID with altitude
axes =

[offsets]
# Absolute values of the minimum an maximum offsets to allow on each axis.
rotation_min = 0.0
scale_offset_min = 3.4e-7
scale_offset_mult_min = 0.9995
scale_offset_mult_max = 1.0005
focus_offset_min = 10
